<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!-- Add any other CSS or meta tags you need -->
  </head>
  <body>
    <div class="wrapper"
     <header>
      <h1> 
       <a href= "https://aldoreyes84.github.io/AldoReyes.github.io"/>
        AldoReyes.github.io
       </a>
      </h1>
        {% if site.logo %}
      <img src="{{ site.logo }}" alt="logo" class="site-logo">
      {% endif %}
        
        <p class="view">
          <a href="https://github.com/AldoReyes84/Contoso-Sales-Power-BI-Dashboard">
          View the Project on GitHub
          <small>Contoso Sales Power BI</small>
         </a> 
        </p>

        <h3 id="Aldo Reyes Portfolio">
          <a href="https://aldoreyes84.github.io/AldoReyes.github.io"/>
          Aldo Reyes Portfolio
          </a>
        </h3>
        
        <h2>{{ site.title }}
        </h2>
       
        <h3>
        <a href="#overview">
        📋 Overview
        </a>
        </h3>

       <h3>
          <a href="#metrics-analysis">
        🧮 Metrics Analysis
         </a>
        </h3>
       
       <h3>
          <a href="#-metrics-glossary">
        📘 Metrics Glossary
          </a>
        </h3>
       
       <h3>   
          <a href="#dashboard-design">
        📊 Dashboard Design
          </a>
        </h3>

      <ul>
        <li><a href="#factresellerssales-table"> FactResellersSales table</a></li>
        <li><a href="#factinternetsales-table"> FactInternetSales table</a></li>
        <li><a href="#factfinance-table"> FactFinance table</a></li>
      </ul>   
            
      <nav class="site-menu">
        <ul>
          {% for item in site.menu %}
            <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <footer>
        <p>This project is maintained by 
        <a href="https://github.com/AldoReyes84">
          AldoReyes84
        </a>
        </p>
        <p>
            <small>Hosted on GitHub Pages — Theme by
           <a href="https://github.com/orderedlist">
          orderedlist
            </a>
          </small>
        </p>
      </footer>
      </header>
    </div>
        <section>
       {{ content }}
        </section>     
  </body>
</html>
